name: Build

on: [pull_request, push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: jetbrains
      - run: chmod +x gradlew
      - run: ./gradlew buildAndCollect --stacktrace --info
      - uses: actions/upload-artifact@v4
        with:
          name: Raised
          path: build/libs/**/
          if-no-files-found: error